<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Nunito|Poppins" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <title>Word Frequency</title>
    </head>
    <body>
        <div class="container">
            <h1>Word Frequency</h1>
            <div class='content'>
                <h4>Want to find out how many times a word appears in a phrase? Now you can!</h4>
                <form action='/result' method='post'>
                    <ul>
                        <li>
                            <label for="phrase">Enter a sentence without any punctuation:</label>
                            <textarea id="phrase" name="phrase" rows="2" cols="50"></textarea>
                        </li>
                        <li>
                            <label for="word">Enter a word to search for:</label>
                            <input id="word" type="text" name="word">
                        </li>
                        <li>
                            <button class='btn btn-success' type='submit'>Check</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </body>
</html>
