<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Word Frequency</title>
    </head>
    <body>
        <h1>Word Frequency</h1>
        <form action='/result' method='post'>
            <ul>
                <li>
                    <label for="phrase">Enter a sentence without any punctuation:</label>
                    <input id="phrase" type="text" name="phrase">
                </li>
                <li>
                    <label for="word">Enter a word to search for:</label>
                    <input id="word" type="text" name="word">
                </li>
                <li>
                    <button type='submit'>Check</button>
                </li>
            </ul>
        </form>
    </body>
</html>
