<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Word Frequency</title>
    </head>
    <body>
        <h1>Word Frequency</h1>
        <p><span class='output'>{{ word }}</span> appears {{ result }} times in the phrase
        <span class='output'>{{ phrase }}</span></p>
        <a href='/'><button type='button'>Home</button></a>
    </body>
</html>
